.is-layout-cover {
  .background-selector-image {
    background-size: cover !important;
  }
}

.component {
  &.is-layout-icon {
    .component__header {
      background-color: @font-color-inverted;
    }

    .component__body {
      display: flex;
      background-color: transparent;
    }

    .component__instruction {
      background-color: transparent;
    }

    .layout__icon {
      padding-right: @component-body-margin;
      .dir-rtl & {
        padding-right: inherit;
        padding-left: @component-body-margin;
      }

      .icon {
        border-radius: 50%;
        padding: @icon-padding;
        color: @heading-color-inverted;
        background-color: @heading-color;
      }
    }
  }
}
