.is-layout-cover {
  .background-selector-image {
    background-size: cover !important;
  }
}

.component {
  &.is-layout-icon {
    .component__body-inner {
      padding-left: @component-body-margin;
      .dir-rtl & {
        padding-left: inherit;
        padding-right: @component-body-margin;
      }
    }

    .component__instruction-inner {
      padding-left: @component-body-margin;
      .dir-rtl & {
        padding-left: inherit;
        padding-right: @component-body-margin;
      }
    }

    .layout__icon {
      position: absolute;

      .icon {
        border-radius: 50%;
        padding: @icon-padding;
        color: @heading-color-inverted;
        background-color: @heading-color;
      }
    }
  }
}
