{{#if _layoutExtension._icon._class}}
<div class="icon {{_layoutExtension._icon._class}}"></div>
{{else}}
{{#if _layoutExtension._icon._image}}
<img src="{{_layoutExtension._icon._image}}"/>
{{/if}}
{{/if}}
